*.log
*.note
*.env
*.wal
*.key
*.csr
*.crt
*.pem
*.pub
*.vscode
*.idea
*.exe
*.out
*.bbl
*.ioa
*.loa
*.lof
*.lot
*.aux
*.bcf
*.blg
configs/*.env
tmp/*
^tmp/
data/volumes/*

# docs
docs/uspace/*
docs/fslite/*
docs/minioth/*
# api/fslite/*
# api/uspace/*
# api/minioth/*

# binaries
cmd/minioth/minioth
cmd/frontendapp/frontendapp
cmd/frontendapp/frontendapp
cmd/frontendapp/ws/ws_server
cmd/uspace/uspace




vendor
external

