*.log
*.note
*.env
*.wal
*.key
*.csr
*.crt
*.pem
*.pub
*.vscode
*.idea
*.exe
configs/*.env
tmp/*
^tmp/
data/volumes/*

# binaries
cmd/minioth/minioth
cmd/frontendapp/frontendapp
cmd/frontendapp/frontendapp
cmd/frontendapp/ws/ws_server
cmd/userspace/userspace


vendor
external

