<div id="applications-display-container">
  <div> 
    <h3>Applications</h3>
  </div>
  <div class="table-container">
    <table class="darkened" id="all-apps-table" border="1">
      <thead>
        <tr>
          <th>Application</th>
          <th>Image</th>
          <th>Description</th>
          <th>Version</th>
          <th>LAT</th>
          <th>Author</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody id="users-body">
        {{ range $index, $app := . }}

        {{ end }}
      </tbody>
    </table>
  </div>

  

</div>

