<div id="groups-result-container" style="padding: 1rem;">
  <div id="view-table-header"> 
    <h3>View existing groups</h3>
    <button 
      id="reload-groups-btn"
      hx-trigger="click" 
      hx-get="/api/v1/verified/admin/fetch-groups" 
      hx-target="#fetch-groups-results" 
      hx-swap="innerHTML"
    ><i class="fas fa-redo"></i></button>
  </div>
  <div id="table-container" style="overflow-x: auto; white-space: nowrap;">
    <table class="darkened" id="all-groups-table" border="1" style="width: 100%; border-collapse: collapse;">
      <thead>
        <tr>
          <th>Group ID</th>
          <th>Group Name</th>
          <th>Users</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="users-body">
        {{ range $index, $group := . }}
        <tr id="groups-table-{{ $index }}">
          <td>{{ $group.Gid }}</td>
          <td>{{ $group.Groupname }}</td>
          <td>
            {{ $total := len $group.Users }}
            {{ range $i, $user := $group.Users }}
            <span>{{ .Username }}{{ if lt $i (sub $total 1) }},{{ end }}</span>
            {{ end }}
          </td>
          <td>
            <div id="actions-btns">
              {{ if and (ne $group.Gid 0) (ne $group.Gid 100) (ne $group.Gid 1000)}}
              <button 
                id="delete-grp-btn-{{ $index }}"
                hx-delete="/api/v1/verified/admin/groupdel?gid={{ $group.Gid }}"
                hx-swap="none"
                hx-trigger="click"
                hx-target="#groups-table-{{ $index }}"
                hx-confirm="Are you sure you want to delete group {{ $group.Gid }}?"
                > Delete</button>
                {{ end }}
            </div>
          </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</div>


