<h3>List View</h3>
<table id="resource-list-table">
    <thead>
        <tr>
            <th>Rid</th>
            <th>Name</th>
            <th>Path</th>
            <th>Volume</th>
            <th>Type</th>
            <th>Size</th>
            <th>Permissions</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Accessed At</th>
            <th>Owner</th>
            <th>Group</th>
            <th>Volume</th>
        </tr>
    </thead>
    <tbody>
        {{ range . }}
        <tr>
            <td>{{ .Rid }}</td>
            <td class="name">{{ .Name }}</td>
            <td>{{ .Path }}</td>
            <td>{{ .Vname}}</td>
            <td>{{ .Type }}</td>
            <td>{{ .Size }}</td>
            <td>{{ .Perms }}</td>
            <td>{{ .Created_at }}</td>
            <td>{{ .Updated_at }}</td>
            <td>{{ .Accessed_at }}</td>
            <td>{{ .Uid }}</td>
            <td>{{ .Gid }}</td>
            <td>{{ .Vid }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>
<div id="edit-modal" class="modal hidden darkened"></div>

