{{ template "renderTree" . }}
{{ define "renderTree" }}
<ul class="k-tree">
    {{ range $name, $node := .Children }}
    <li>
        {{ if eq $node.Type "file" }}
            <button type="button" class="file"
                  data-name="{{ $node.Resource.Name }}"
                  data-type="{{ $node.Resource.Type }}"
                  data-size="{{ $node.Resource.Size }}"
                  data-perms="{{ $node.Resource.Perms }}"
                  data-created="{{ $node.Resource.CreatedAt }}"
                  data-updated="{{ $node.Resource.UpdatedAt }}"
                  data-accessed="{{ $node.Resource.AccessedAt }}"
                  data-owner="{{ $node.Resource.UID }}"
                  data-group="{{ $node.Resource.GID }}"
                  data-volume="{{ $node.Resource.VID }}">{{ $node.Name }}</button>
        {{ else }}
            <span class="folder">{{ $name }}</span>
            {{ template "renderTree" $node }}
        {{ end }}
    </li>
    {{ end }}
</ul>
{{ end }}
{{/* file clicks are handled in ui-actions.js (no inline script: strict CSP) */}}
