<div>
  {{range .volumes}} 
  {{ $v := . }} 
  <div class="v-body">
    <div>
      <h3 class="name">{{$v.Name}}</h3>
      <p>Path: {{ $v.Path }}</p>
      <hr>
      <p>Usage: {{printf "%.2f" $v.Usage}} GB</p>
      <p>Capacity: 
        {{if le $v.Capacity 0.0}}
          &infin;
        {{else}}
          {{printf "%.2f" $v.Capacity}} GB
        {{end}}
      </p>
    </div>
    <div>
      <p>Created at:<br>{{$v.CreatedAt }}</p>
    </div>
    <div class="options">
      <div class="volume-container">
        <button id="uploadButton">Upload Files</button>
        <input type="file" id="fileInput" multiple style="display:none">
      </div>
      <button 
        class="red"
        id="delete-volume-btn"
        hx-delete="/api/v1/verified/admin/volumedel?volume={{ $v.Name }}"
        hx-swap="none"
        hx-confirm="Are you sure you want to delete volume {{ $v.Name }}"
      >Delete Volume</button>
    </div>
  </div>
  {{end}} 
</div>

