html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #75e8e1, #ffffff)

}

.error {
  margin: 100 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  width: 550px;
  height: 500px;
  background-image: url("../assets/logos/cropped.png");
  background-repeat: no-repeat;
  background-size: 300px 300px;
  background-position: left;

  text-align: end;

  padding-left: 40px;
  padding-right: 40px;
  border: 2px dotted;
  border-radius: 40px;
}


.error-message {
  color: red;
}
