# FrontEndApp configuration file
# The FrontEndApp service
IP=0.0.0.0

API_PORT=8079
API_ADDRESS=userspace

FRONT_PORT=8080
FRONT_ADDRESS=frontapp

AUTH_PORT=9090
AUTH_ADDRESS=minioth

ALLOWED_ORIGINS=*
ALLOWED_METHODS=GET,POST
ALLOWED_HEADERS=Origin,Content-Type,Authorization,Access-Control-Allow-Origin

JWT_SECRET_KEY=
JWT_REFRESH_KEY=
