#
## Minioth Service configuration file
#

# tls, https certification
HASH_COST=4

# ports, networks
API_PORT=9090

#IP=0.0.0.0
IP=localhost

DB=minioth.db

ALLOWED_ORIGINS=*
ALLOWED_HEADERS=
ALLOWED_METHODS=GET,POST,DELETE

JWT_SECRET_KEY=
JWT_REFRESH_KEY=
JWKS=data/jwks/jwks.json

SERVICE_SECRET=

