#
## The Userspace Service configuration
#

# database
DB=userspace.db

# shared files
VOLUMES=data/volumes

# networks
IP=0.0.0.0

API_PORT=8079
API_ADDRESS=userspace

FRONT_PORT=8080
FRONT_ADDRESS=frontapp

AUTH_PORT=9090
AUTH_ADDRESS=minioth

ALLOWED_ORIGINS=*
ALLOWED_HEADERS=*
ALLOWED_METHODS=*

JWT_SECRET_KEY=
JWT_REFRESH_KEY=

SERVICE_SECRET=
