<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>kuSpace Admin Panel</title>
    <link rel="icon" href="../assets/logos/cropped.png">
    <link href="../css/styles.css" rel="stylesheet">
    <link href="../css/admin-panel.css" rel="stylesheet">
    <script src="../js/index.js"></script>
    <script src="https://unpkg.com/htmx.org"></script>

</head>
<body>
  <!-- Sidebar -->
  <div id="sidebar" class="sidebar">
    <button id="toggle-sidebar" class="sidebar-toggle">☰</button>
      <ul class="menu collapsing">
        <li>
          <a href="#" onclick="showSection('dashboard')">Dashboard</a>
          <ul class="submenu">
            <p></p>
          </ul>              
        </li>
        <hr>
        <li>
          <a href="#" onclick="showSection('jobs')">Manage Jobs</a>
          <ul class="submenu">
            <p></p>
          </ul> 
        </li>
        <hr>
        <li>
          <a href="#" onclick="showSection('resources')">Manage Resources</a>
          <ul class="submenu">
            <p></p>
          </ul>
        </li>
        <hr>
        <li>
          <a href="#" onclick="showSection('users')">Manage Users</a>
          <ul class="submenu">
            <p></p>
          </ul>
        </li>
        <hr>
        <li>
          <a href="#" onclick="showSection('groups')">Manage Groups</a>
          <ul class="submenu">
            <p></p>
          </ul>
        </li>
        <hr>
      </ul>
      <div id="menu-bottom" class="submenu">
        <hr>
        <ul class="collapsing">
          <li>
            <a href="#" onclick="showSection('profile')">Profile</a>
          </li>
        </ul>
      </div>
      <button  
        class="logout-button"
        id="logout-a"
        hx-delete="/api/v1/logout?access_token&refresh_token" 
        hx-swap="none" 
        hx-trigger="click" 
        href="/api/v1/login">
        ⏼
      </button>
  </div>
  
  <!-- Main Content -->
  <div id="main-content-wrapper">
    <header class="admin-header">
      <h1>{{ .message }}, <i>"{{ .username }}"!</i></h1>
    </header>
    <main id="main-content">
      <section id="dashboard" class="content-section">
        <h2>Root Dashboard</h2>
        <p>This is the dashboard where you can use the system as a user.</p>
        <div class="iframe-container">
          <iframe id="dashboard-iframe" frameborder="0" src="/api/v1/verified/dashboard"></iframe>
        </div>
      </section>
        
      <!-- users -->
      <section id="users" class="content-section hidden">
        <h2>Manage Users </h2>
        <p>Perform CRUD operations on users.</p>
        <hr>
        <div 
          id="fetch-users-results" 
          hx-trigger="load" 
          hx-get="/api/v1/verified/admin/fetch-users" 
          hx-target="this" 
          hx-swap="innerHTML"
        ></div>
        <hr>
        <div id="add-user-div" class="admin-panel">
          <h3>Add a new user</h3>
          <div class="info">
            <p class="target"><strong>Info!</strong> Keep in mind the password inserted from here will be hashed internally </p>
            <button class="toggle-button-collapse"></button>
            <span id="useradd-error-feedback"></span>
          </div>
          <form 
            id="add-user-form"
            hx-post="/api/v1/verified/admin/useradd"
            hx-swap="none" 
            hx-trigger="submit" 
            hx-target=""
          >
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" id="username" name="username" autocomplete="off" readonly onfocus="this.removeAttribute('readonly')">
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="text" id="password" name="password" autocomplete="off" readonly onfocus="this.removeAttribute('readonly')">
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="text" id="email" name="email" autocomplete="off" readonly onfocus="this.removeAttribute('readonly')">
            </div>
            <div class="form-group">
              <label for="home">Home:</label>
              <input type="text" id="home" name="home" autocomplete="off" readonly onfocus="this.removeAttribute('readonly')">
            </div>
            <div class="c-group">                  
              <button type="submit">
                Add User
              </button>
            </div>
          </form>
        </div>
        <hr>
        <div id="hasher-body">
          <div>
            <h3>Hashing Tool</h3>
            <div class="info">
              <p class="target"><strong>Tip!</strong> Create and verify hashes for passwords. </p>
              <button class="toggle-button-collapse"></button>
              <span id="useradd-error-feedback"></span>
            </div>
          </div>
          <div id="hasher-content">
            <div class="hasher-content">
              <div class="hasher-content-header">
                <h5>Generate hash</h5>
              </div>
              <hr>
              <form class="hasher-content-inside">
                <div class="hasher-content-gen" id="hasher-content-gen-left">
                  <div class="hasher-inp">
                    <label for="inp-text">Text:</label>
                    <input 
                      type="text" 
                      id="inp-text" 
                      name="text" 
                      placeholder="Type..."
                      hx-post="/api/v1/verified/admin/hasher"
                      hx-target="#generated-hash"
                      hx-swap="innerHTML"
                      hx-trigger="keyup changed delay:300ms"
                    >
                  </div>
                  <div class="hasher-inp">
                    <span id="result">
                      Hash: <span id="generated-hash">
                      </span>
                    </span>
                    <button 
                      id="copy-btn" 
                      onclick="copyToClipboard('#generated-hash')"
                      type="button"
                      class="copy-btn"
                    >Copy</button>
                  </div>
                </div>
                <div class="hasher-content-gen" id="hasher-content-gen-right">
                  <div class="hasher-inp">
                    <label style="margin-left: 15px;" for="inp-hashalg">Algo:</label>
                    <select id="inp-hashalg" name="hashalg">
                      <!--<option value="sha256">SHA-256</option>
                      <option value="sha512">SHA-512</option>-->
                      <option value="bcrypt">Bcrypt</option>
                    </select>
                  </div>
                  <div class="hasher-inp">
                    <button 
                      id="gen-btn"
                      type="submit" 
                      hx-post="/api/v1/verified/admin/hasher"
                      hx-target="#generated-hash"
                      hx-swap="innerHTML"
                      hx-trigger="click"
                    >Generate
                    </button>
                  </div>
                </div>  
              </form>
            </div> 
            <div class="hasher-content">
              <div class="hasher-content-header">
                <h5>Verify hash</h5>
              </div>
              <hr>
              <form id="vhash" class="hasher-content-inside">
                <div class="hasher-content-v" id="hasher-content-v-left">
                  <div class="hasher-inp">  
                    <label for="inp-text-2">Text: </label>
                    <input type="text" id="inp-text-2" name="text" placeholder="Text to verify...">
                  </div>
                  <div class="hasher-inp">
                    <label for="inp-hash">Hash:</label>
                    <input type="text" id="inp-hash" name="hash" placeholder="Hash to verify...">
                  </div>
                </div>
                <div class="hasher-content-v" id="hasher-content-v-right">
                  <span id="result-2"><span id="verify-result" class=""></span></span>
                  <button 
                    type="submit"
                    hx-post="/api/v1/verified/admin/hasher"
                    hx-target="#verify-result"
                    hx-swap="innerHTML"
                    hx-trigger="click"
                  >Verify</button>
                </div>  
              </form>
            </div>
          </div>
        </div>
      </section>

      <!-- groups -->
      <section id="groups" class="content-section hidden">
        <h2>Manage Groups </h2>
        <p>Perform CRUD operations on groups.</p>
        <hr>
        <div 
          id="fetch-groups-results" 
          hx-trigger="load" 
          hx-get="/api/v1/verified/admin/fetch-groups" 
          hx-target="this" 
          hx-swap="innerHTML"
        ></div>
        <hr>
        <div id="add-group-div" class="admin-panel">
          <h3>Add a new group</h3>
          <div class="info">
            <p><strong>Info!</strong> This will be updated </p>
          </div>
          <form 
            id="add-group-form"
            hx-post="/api/v1/verified/admin/groupadd"
            hx-swap="none" 
            hx-trigger="submit" 
            hx-target=""
          >
            <div class="form-group">
              <label for="groupname">Groupname:</label>
              <input type="text" id="groupname" name="groupname" autocomplete="off" readonly onfocus="this.removeAttribute('readonly')">
            </div>
            <div class="c-group">                  
              <button type="submit">
                Add Group
              </button>
            </div>
          </form>
        </div>
      </section>

      <section id="jobs" class="content-section hidden">
        <h2>Manage Jobs</h2>
        <p>Monitor, view, and manage jobs.</p>
        <hr>
        <form id="search-jobs-form">
          <label>Job Name: <input type="text" name="job_name"></label>
          <label>Resource ID: <input type="text" name="resource_id"></label>
          <button type="submit"> Search Job</button>
        </form>
        <button>Load history</button>
      </section>
        
      <!-- resources -->    
      <section id="resources" class="content-section hidden">      
        <h2>Manage Resources</h2>
        <p>View and manage existing resources and volumes.</p>
        <hr>
        <div>
        </div>
        <div 
          id="fetch-resources-display"
          hx-trigger="load" 
          hx-get="/api/v1/verified/admin/fetch-resources" 
          hx-target="#resources-main" 
          hx-swap="innerHTML"
        >
          <div id="resources-display-container" style="padding: 1rem;">
              <div id="resources-header">
                  <div>
                      <h3>View existing resources</h3>
                      <div>
                        <form
                          id="fetch-resources-form"
                          hx-get="/api/v1/verified/admin/fetch-resources"
                          hx-target="#resources-main"
                          hx-swap="innerHTML"
                        >
                          <select type="resources-format-select" name="struct">
                            <option value="list" selected>list</option>
                            <option value="tree">tree</option>
                          </select>
                          <button typ="submit">View Resources</button>
                        </form>
                      </div>
                  </div>
                  <label>Resource ID: <input type="text" name="resource_id"></label>
                
              </div>
              <div id="resources-main">
              </div>
              <div id="resource-details">
              </div>              
          </div>
        </div>
      </section>
    </main>
  </div>
  <script src="../js/admin-panel.js"></script>

</body>
</html>


