<div id="hashing-tool" class="admin-panel">
  <div id="hasher-header" class="content-header">
    <h3>Hashing Tool</h3>
  </div>
  <div id="hasher-body">
    <div class="hasher-content">
      <div class="hasher-content-header">
        <h5>Generate hash</h5>
      </div>
      <hr>
      <form class="hasher-content-inside">
        <div class="hasher-content-gen" id="hasher-content-gen-left">
          <div class="hasher-inp">
            <label for="inp-text">Text:</label>
            <input 
              type="text" 
              id="inp-text" 
              name="text" 
              placeholder="Type..."
              hx-post="/api/v1/verified/admin/hasher"
              hx-target="#generated-hash"
              hx-swap="innerHTML"
              hx-trigger="keyup changed delay:300ms"
            >
          </div>
          <div class="hasher-inp">
            <span id="result">
              Hash: <span id="generated-hash">
                    </span>
            </span>
            <button 
              id="copy-btn" 
              onclick="copyToClipboard('#generated-hash')"
              type="button"
              class="copy-btn"
            >Copy</button>
          </div>
        </div>
        <div class="hasher-content-gen" id="hasher-content-gen-right">
          <div class="hasher-inp">
            <label style="margin-left: 15px;" for="inp-hashalg">Algo:</label>
            <select id="inp-hashalg" name="hashalg">
              <!--<option value="sha256">SHA-256</option>
              <option value="sha512">SHA-512</option>-->
              <option value="bcrypt">Bcrypt</option>
            </select>
          </div>
          <div class="hasher-inp">
            <button 
              id="gen-btn"
              type="submit" 
              hx-post="/api/v1/verified/admin/hasher"
              hx-target="#generated-hash"
              hx-swap="innerHTML"
              hx-trigger="click"
            >Generate
            </button>
          </div>
        </div>  
      </form>
    </div>
 
    <div class="hasher-content">
      <div class="hasher-content-header">
        <h5>Verify hash</h5>
      </div>
      <hr>
      <form id="vhash" class="hasher-content-inside">
        <div class="hasher-content-v" id="hasher-content-v-left">
          <div class="hasher-inp">  
            <label for="inp-text-2">Text: </label>
            <input type="text" id="inp-text-2" name="text" placeholder="Text to verify...">
          </div>
          <div class="hasher-inp">
            <label for="inp-hash">Hash:</label>
            <input type="text" id="inp-hash" name="hash" placeholder="Hash to verify...">
          </div>
        </div>
        <div class="hasher-content-v" id="hasher-content-v-right">
          <span id="result-2"><span id="verify-result" class=""></span></span>
          <button 
            type="submit"
            hx-post="/api/v1/verified/admin/hasher"
            hx-target="#verify-result"
            hx-swap="innerHTML"
            hx-trigger="click"
          >Verify</button>
        </div>  
      </form>
    </div>
  </div>
