<h3>List View</h3>
<table id="resource-list-table">
    <thead>
        <tr>
            <th>Rid</th>
            <th>Name</th>
            <th>Type</th>
            <th>Size</th>
            <th>Permissions</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Accessed At</th>
            <th>Owner</th>
            <th>Group</th>
            <th>Volume</th>
        </tr>
    </thead>
    <tbody>
        {{ range . }}
        <tr>
            <td>{{ .Rid }}</td>
            <td>{{ .Name }}</td>
            <td>{{ .Type }}</td>
            <td>{{ .Size }}</td>
            <td>{{ .Perms }}</td>
            <td>{{ .Created_at }}</td>
            <td>{{ .Updated_at }}</td>
            <td>{{ .Accessed_at }}</td>
            <td>{{ .Uid }}</td>
            <td>{{ .Gid }}</td>
            <td>{{ .Vid }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>
<div id="edit-modal" class="modal hidden darkened"></div>

<script>
tableRows = document.querySelectorAll("#resource-list-table tbody tr");
resourceDetails = document.getElementById("resource-details");

tableRows.forEach((row) => {
  row.addEventListener("click", () => {
    // Remove 'selected' class from all rows
    tableRows.forEach((r) => r.classList.remove("selected"));

    // Add 'selected' class to the clicked row
    row.classList.add("selected");

    // Extract resource information from the row
    const resource = {
        id: row.cells[0].innerText,
      name: row.cells[1].innerText,
      type: row.cells[2].innerText,
      size: row.cells[3].innerText,
      perms: row.cells[4].innerText,
      createdAt: row.cells[5].innerText,
      updatedAt: row.cells[6].innerText,
      accessedAt: row.cells[7].innerText,
      owner: row.cells[8].innerText,
      group: row.cells[9].innerText,
      volume: row.cells[10].innerText,
    };

    // Update the resource details div
    resourceDetails.innerHTML = `
      <div class="resource-details-headers">
        <h3>Resource Details</h3>
        <div class="">
          <div class="resource-options">
            <label for="resource-options-inner"><b>Options:</b></label>
            <div id="resource-options-inner">
              <a 
                href="/api/v1/verified/download?target=${resource.name}"
                download
                class="r-btn-download"
              >
                Download
              </a>
              <button 
                class="r-btn-edit"
                hx-get="/api/v1/verified/edit-form?resourcename=${resource.name}&owner=${resource.owner}&group=${resource.group}&perms=${resource.perms}&rid=${resource.id}"
                hx-swap="innerHTML"
                hx-trigger="click"
                hx-target="#edit-modal"
                hx-on::after-request="showModal('edit-modal')"
                >
                Edit
              </button>
              <button 
                class="r-btn-delete"
                hx-delete="/api/v1/verified/rm?rids=${resource.id}"
                hx-trigger="click"
                hx-swap="none"
                hx-confirm="Are you sure you want to delete resource ${resource.name}?"

                hx-on::before-request="showProgressBar(document.querySelector('.r-loader'))"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="resource-details-main">
        <div class="resource-details-inner">
          <p><strong>Rid:</strong> ${resource.id}</p>
          <p><strong>Name:</strong> ${resource.name}</p>
          <p><strong>Type:</strong> ${resource.type}</p>
          <p><strong>Size:</strong> ${resource.size}</p>
          <p><strong>Permissions:</strong> ${resource.perms}</p>
          <p><strong>Created At:</strong> ${resource.createdAt}</p>
          <p><strong>Updated At:</strong> ${resource.updatedAt}</p>
          <p><strong>Accessed At:</strong> ${resource.accessedAt}</p>
          <p><strong>Owner:</strong> ${resource.owner}</p>
          <p><strong>Group:</strong> ${resource.group}</p>
          <p><strong>Volume:</strong> ${resource.volume}</p>
        </div>
        <div id="resource-preview" class="resource-preview-window">
          <button
            id="preview-resource-btn"
            hx-target="#resource-preview-content"
            hx-trigger="click"
            hx-swap="innerHTML"
            hx-get="/api/v1/verified/preview?rid=${resource.id}&resourcename=${resource.name}"
            hx-headers='{"Range": "bytes=0-4095"}'
          >Preview</button>
          <div class="resource-preview-main blurred">
            <div id="resource-preview-content"></div>
            <div id="resource-preview-controls">
              <div id="next-arrow-left" class="next-arrow">
                <svg width="24" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow-icon">
                <g transform="scale(-1,1) translate(-16,0)">
                  <path d="M15 4H4V1" stroke="white"/>
                  <path d="M14.5 4H3.5H0" stroke="white"/>
                  <path d="M15.8536 4.35355C16.0488 4.15829 16.0488 3.84171 15.8536 3.64645L12.6716 0.464466C12.4763 0.269204 12.1597 0.269204 11.9645 0.464466C11.7692 0.659728 11.7692 0.976311 11.9645 1.17157L14.7929 4L11.9645 6.82843C11.7692 7.02369 11.7692 7.34027 11.9645 7.53553C12.1597 7.7308 12.4763 7.7308 12.6716 7.53553L15.8536 4.35355ZM15 4.5L15.5 4.5L15.5 3.5L15 3.5L15 4.5Z" fill="white"/>
                </g>
                </svg>
              </div>
              <div>
                <span id="page-index">1</span>
              </div>
              <div id="next-arrow-right" class="next-arrow">
                <svg width="24" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow-icon">
                  <path d="M15 4H4V1" stroke="white"/>
                  <path d="M14.5 4H3.5H0" stroke="white"/>
                  <path d="M15.8536 4.35355C16.0488 4.15829 16.0488 3.84171 15.8536 3.64645L12.6716 0.464466C12.4763 0.269204 12.1597 0.269204 11.9645 0.464466C11.7692 0.659728 11.7692 0.976311 11.9645 1.17157L14.7929 4L11.9645 6.82843C11.7692 7.02369 11.7692 7.34027 11.9645 7.53553C12.1597 7.7308 12.4763 7.7308 12.6716 7.53553L15.8536 4.35355ZM15 4.5L15.5 4.5L15.5 3.5L15 3.5L15 4.5Z" fill="white"/>
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div id="edit-modal" class="modal hidden darkened"></div>
      </div>
      <hr>
      <div class="resource-details-footer">
        <div class="feedback"></div>
        <div class="r-loader hidden"><div></div></div>
      </div>
      </div>
    `;
    const btns = document.querySelectorAll(".r-btn-download, .r-btn-edit, .r-btn-delete, #preview-resource-btn");
    btns.forEach(button => {
      htmx.process(button);
    })

  });
});
</script>
