<h3>List View</h3>
<table id="resource-list-table">
    <thead>
        <tr>
            <th>Rid</th>
            <th>Name</th>
            <th>Type</th>
            <th>Size</th>
            <th>Permissions</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Accessed At</th>
            <th>Owner</th>
            <th>Group</th>
            <th>Volume</th>
        </tr>
    </thead>
    <tbody>
        {{ range . }}
        <tr>
            <td>{{ .Rid }}</td>
            <td>{{ .Name }}</td>
            <td>{{ .Type }}</td>
            <td>{{ .Size }}</td>
            <td>{{ .Perms }}</td>
            <td>{{ .Created_at }}</td>
            <td>{{ .Updated_at }}</td>
            <td>{{ .Accessed_at }}</td>
            <td>{{ .Uid }}</td>
            <td>{{ .Gid }}</td>
            <td>{{ .Vid }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>
<div id="edit-modal" class="modal hidden"></div>

<script>
tableRows = document.querySelectorAll("#resource-list-table tbody tr");
resourceDetails = document.getElementById("resource-details");

tableRows.forEach((row) => {
  row.addEventListener("click", () => {
    // Remove 'selected' class from all rows
    tableRows.forEach((r) => r.classList.remove("selected"));

    // Add 'selected' class to the clicked row
    row.classList.add("selected");

    // Extract resource information from the row
    const resource = {
        id: row.cells[0].innerText,
      name: row.cells[1].innerText,
      type: row.cells[2].innerText,
      size: row.cells[3].innerText,
      perms: row.cells[4].innerText,
      createdAt: row.cells[5].innerText,
      updatedAt: row.cells[6].innerText,
      accessedAt: row.cells[7].innerText,
      owner: row.cells[8].innerText,
      group: row.cells[9].innerText,
      volume: row.cells[10].innerText,
    };

    // Update the resource details div
    resourceDetails.innerHTML = `
      <h3>Resource Details</h3>
      <hr>
      <div>
        <div class="resource-details-inner">
          <p><strong>Rid:</strong> ${resource.id}</p>
          <p><strong>Name:</strong> ${resource.name}</p>
          <p><strong>Type:</strong> ${resource.type}</p>
          <p><strong>Size:</strong> ${resource.size}</p>
          <p><strong>Permissions:</strong> ${resource.perms}</p>
          <p><strong>Created At:</strong> ${resource.createdAt}</p>
          <p><strong>Updated At:</strong> ${resource.updatedAt}</p>
          <p><strong>Accessed At:</strong> ${resource.accessedAt}</p>
          <p><strong>Owner:</strong> ${resource.owner}</p>
          <p><strong>Group:</strong> ${resource.group}</p>
          <p><strong>Volume:</strong> ${resource.volume}</p>
        </div>
        <div class="resource-preview-window">
          <button>Preview</button>
        </div>
        <div id="edit-modal" class="modal hidden"></div>
      </div>
      <hr>
      <div class="resource-options">
        <label for="resource-options-inner"><b>Options:</b></label>
        <div id="resource-options-inner">
          <a 
            href="/api/v1/verified/download?target=${resource.name}"
            download
            class="r-btn-download"
          >
            Download
          </a>
          <button 
            class="r-btn-edit"
            hx-get="/api/v1/verified/edit-form?filename=${resource.name}&owner=${resource.owner}&group=${resource.group}&perms=${resource.perms}"
            hx-swap="innerHTML"
            hx-trigger="click"
            hx-target="#edit-modal"
            hx-on::after-request="showModal('edit-modal')"
            >
            Edit
          </button>
          <button 
            class="r-btn-delete"
            hx-delete="/api/v1/verified/rm?rids=${resource.id}"
            hx-trigger="click"
            hx-swap="none"
            hx-on::before-request="showProgressBar(document.querySelector('.r-loader'))"
          >
            Delete
          </button>
        </div>
        <div class="feedback"></div>
        <div class="r-loader hidden"><div></div></div>
      </div>
    `;
    const btns = document.querySelectorAll(".r-btn-download, .r-btn-edit, .r-btn-delete");
    btns.forEach(button => {
      htmx.process(button);
    })

  });
});
</script>
