{{ define "edit-form.html"}} 
  <div class="close-btn-div"><button onclick="closeModal('edit-modal')" class="button-close"></button></div>
	<form
    id="edit-resource-form"
    class="darkened"
    hx-put="/api/v1/verified/resource/${rid}" 
    hx-target="#resource-details" 
    hx-swap="innerHTML"
  >   
      <h3>Edit Resource</h3>
      <p>Auto save on key release (or change)</p>
      <hr> 
      <label for="filename">Filename</label>
  	  <input 
		    name="filename" 
        value="{{ .filename }}"
			  hx-patch="/api/v1/verified/mv"
			  hx-trigger="keyup changed delay:3000ms"
		  >

  		<label for="owner">Owner</label>
      <select
        name="owner"
        hx-patch="/api/v1/verified/admin/chown"
        hx-trigger="change delay:1000ms"
      >
      {{range .users}}
        <option
          value="{{.Username}}"
          {{if eq .Uid $.owner}}selected{{end}}
    >uid:{{.Uid}} - username:{{ .Username }}</option>
      {{end}}
      </select>
      
      <label for="group">Group</label>
      <select
        name="group"
        hx-patch="/api/v1/verified/admin/chgroup"
        hx-trigger="change delay:1000ms"
      >
      {{range .groups}}
        <option
          value="{{.Groupname}}"
          {{if eq .Gid $.group}}selected{{end}}
    >gid:{{.Gid}} - groupname:{{.Groupname}}</option>
      {{end}}
      </select>

  		<label for="permissions">Permissions</label>
  		<div id="permissions-container">
    <!-- Owner bits -->
    <div>
      <h4>Owner:</h4>
      <div class="perm-display-div"> 
      <label>
        r
        <input type="checkbox" name="owner-r" value="r"
          {{if .perms.OwnerR}}checked{{end}}
          onchange="updatePermissionString()"
        >
      </label>
      <label>
        w
        <input type="checkbox" name="owner-w" value="w"
          {{if .perms.OwnerW}}checked{{end}}
          onchange="updatePermissionString()"
        >
      </label>
      <label>
        x
        <input type="checkbox" name="owner-x" value="x"
          {{if .perms.OwnerX}}checked{{end}}
          onchange="updatePermissionString()"
        >
      </label>
      </div>  
    </div>
    <div>
      <h4>Group:</h4>
      <div class="perm-display-div">
      <label>
        r
        <input type="checkbox" name="group-r" value="r"
          {{if .perms.GroupR}}checked{{end}}
          onchange="updatePermissionString()"
        >
      </label>
      <label>
        w
        <input type="checkbox" name="group-w" value="w"
          {{if .perms.GroupW}}checked{{end}}
          onchange="updatePermissionString()"
        >
      </label>
      <label>
        x
        <input type="checkbox" name="group-x" value="x"
          {{if .perms.GroupX}}checked{{end}}
          onchange="updatePermissionString()"
        >
      </label>
      </div>
    </div>
    <div>
      <h4>Others:</h4>
      <div class="perm-display-div">
      <label>
        r
        <input type="checkbox" name="other-r" value="r"
          {{if .perms.OtherR}}checked{{end}}
          onchange="updatePermissionString()"
        >
      </label>
      <label>
        w
        <input type="checkbox" name="other-w" value="w"
          {{if .perms.OtherW}}checked{{end}}
          onchange="updatePermissionString()"
        >
      </label>
      <label>
        x
        <input type="checkbox" name="other-x" value="x"
          {{if .perms.OtherX}}checked{{end}}
          onchange="updatePermissionString()"
        > 
      </label>
      </div>
    </div>

    <input
      type="hidden"
      name="permissions"
      id="permissionsInput"
      value="" 
      hx-patch="/api/v1/verified/admin/chmod"
      hx-trigger="change delay:1000ms"
    >
  </div>
	</form>
{{ end }}
