<div>
  <div style="display: flex; justify-content: space-between;">
    <h3>Existing Volumes</h3>
    <button
      id="fetch-volumes-btn"
      hx-get="/api/v1/verified/admin/fetch-volumes"
      hx-target="#fetch-volumes-display"
      hx-swap="innerHTML"
    >View    Volumes
    </button>
  </div>
  <hr>
  
  {{range .volumes}} 
  {{ $v := . }} 
  <div class="v-header">
    <div>
      <h3>Volume Info </h3>
      <p>Fixed Amount: {{printf "%.4f" $v.Capacity}} GB</p>
      <p>Currently Used: {{printf "%.4f" $v.Usage}} GB</p>
      <p>Usage Percentage: {{printf "%.2f" (mul (div $v.Usage $v.Capacity) 100)}}%</p>
      <p>Available Percentage: {{printf "%.2f" (mul (div (sub $v.Capacity $v.Usage) $v.Capacity) 100)}}%</p>
    </div>
    <div>
      <h3>Volume Details</h3>
      <p>Name: {{$v.Name}}</p>
      <p>Path: {{$v.Path}}</p>
    </div>
    <div>
      <h3>Settings</h3>
      <label for="dynamicQuota">Enable Dynamic Quota</label>
      <input type="checkbox"
        id="dynamicQuota"
        name="dynamicQuota"
        onchange="toggleDynamicQuota(this)"
        {{if $v.Dynamic}}checked{{end}}>
      <script>
        toggleDynamicQuota(document.getElementById("dynamicQuota"));
      </script>
    </div>  
  </div>

  <h3>Volume Quota Management</h3>
  <div class="v-main">
    <div>
      <h3>Groups</h3>
      <div class="v-main-inner-content">
        <div>
          {{range $.groups}} 
          <label for="group-{{.Gid}}">{{.Groupname}}</label>
          {{end}}
        </div>
        <div>
          {{range $.groups}}
            {{ $gid := .Gid }}
            {{ $gvol := findGroupVolume $.group_volumes $gid }}
          <div class="quota-container">
            <div class="quota-bar-wrapper">
              <input type="range"
                id="group-{{$gid}}"
                name="group-{{$gid}}"
                min="0"
                max="{{$v.Capacity}}"
                step="{{div $v.Capacity 1000}}"
                value="{{if $gvol}}{{$gvol.Quota}}{{else}}0{{end}}"
                class="quota-range"
              >   
              <div class="usage-bar" 
                style="width: {{if $gvol}}{{printf "%.2f" (mul (div $gvol.Usage $v.Capacity) 100)}}%{{else}}0%{{end}}">
              </div>
            </div>
            <span id="group-usage-{{$gid}}">{{if $gvol}}{{printf "%.2f" $gvol.Quota}}{{else}}0{{end}} GB</span>

          </div>
          {{end}}
        </div>
      </div>
    </div>
    <div>
      <h3>Users</h3>
      <div class="v-main-inner-content">
        <div>
          {{range $.users}}
          <label for="user-{{.Uid}}">{{.Username}}</label>
          {{end}}
        </div>
        <div>
          {{range $.users}}
            {{ $uid := .Uid }}
            {{ $uvol := findUserVolume $.user_volumes $uid}}
          <div class="quota-container">
            <div class="quota-bar-wrapper">
              <input type="range"
                id="user-{{$uid}}"
                name="user-{{$uid}}"
                min="0"
                max="{{$v.Capacity}}"
                step="{{ div $v.Capacity 1000 }}"
                value="{{if $uvol}}{{$uvol.Quota}}{{else}}0{{end}}"
                class="quota-range"
              >
              <div class="usage-bar" style="width: {{if $uvol}}{{printf "%.2f" (mul (div $uvol.Usage $v.Capacity) 100)}}%{{else}}0%{{end}}"></div>
            </div>
            <span id="user-usage-{{$uid}}">{{if $uvol}}{{printf "%.2f" $uvol.Quota}}{{else}}0{{end}} GB</span>
          </div>
          {{end}}
        </div>
      </div>
    </div>
    {{end}} 
  </div>
</div>

